@model List<Film>
@{
    Layout = null;
}

	@foreach (var item in Model)
			   {
				if (!item.IsDelete)
	{   	<div class="col-6 col-sm-12 col-lg-6">
						<div class="card card--list">
							<a asp-action="detail" asp-route-Id="@item.Id"  class="card__cover">
								<img src="img/@item.ImageUrl" alt="">
								<span class="card__play">
								</span>
							</a>

							<div class="card__content">
								<h3 class="card__title"><a href="#">@item.Name</a></h3>
								<span class="card__category">
								@foreach (var genre in item.FilmGenre)
							   {
								   	<a  asp-action="detail"  asp-route-Id="@item.Id">@genre.Genre.Name</a>
							   }
								
								</span>

								<div class="card__wrap">
									<span class="card__rate"> @item.IMDB</span>

									<ul class="card__list">
										<li>HD</li>
										<li>@item.AgeLimit</li>
									</ul>
								</div>

								<div class="card__description">
									<p>@item.Desc</p>
								</div>
							</div>
						</div>
					</div>
		
	}
			   }
